{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo add-apt-repository ppa:agornostal/ulauncher #ulauncher
#sudo add-apt-repository multiverse
sudo apt update 
sudo apt autoremove -y

sudo apt install bat -y
sudo apt install curl -y
sudo apt install htop -y
sudo apt install mc -y
#sudo apt install neovim -y
sudo apt install tmux -y
sudo apt install tree -y
sudo apt install wget -y
sudo apt install exa -y

sudo apt install ulauncher -y
sudo apt install meld -y
sudo apt install terminator -y
sudo apt install zsh -y

#curl -sS https://download.spotify.com/debian/pubkey_7A3A762FAFD4A51F.gpg | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/spotify.gpg
#echo "deb http://repository.spotify.com stable non-free" | sudo tee /etc/apt/sources.list.d/spotify.list
#sudo apt install spotify-client

#curl -L --create-dirs --output-dir ".local/share/fonts" -O https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf
chsh -s /usr/bin/zsh

snap install nvim --classic

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
set -eufo pipefail

{{ $brews := list
     "bat"
     "curl"
	 "htop"
	 "midnight-commander"
	 "neovim"
	 "powerlevel10k"
	 "tmux"
	 "tree"
	 "tree-sitter"
	 "zsh-autosuggestions"
	 "zsh-completions"
	 "zsh-syntax-highlighting"
	 "wget"
     "exa"
     "yt-dlp" -}}

{{ $casks := list
     "1password" 
     "1password-cli" 
	 "alfred"
	 "appcleaner"
	 "arc"
	 "dash"
	 "firefox"
	 "fork"
	 "google-chrome"
	 "grandperspective"
	 "itau"
     "iterm2"
	 "jettison"
     "karabiner-elements"
	 "keyboard-maestro"
	 "logitech-options"
	 "macupdater"
	 "maestral"
	 "meld"
	 "microsoft-office"
	 "mimestream"
	 "nordvpn"
	 "obsidian"
	 "rectangle"
	 "fujitsu-scansnap-home"
     "spotify"
	 "steam"
	 "sublime-text"
	 "thunderbird"
     "visual-studio-code"
     "vlc"
	 "whatsapp"
	 "zoom" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}
